<ng-container>
    <div class="card" style="width: 27em;" *ngIf="cart">
        <div class="card-body">
            <h5 class="card-title">Order Summary</h5>
            <h6 class="card-subtitle mb-2 text-muted">Order Details</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let item of cart.items">
                    <div class="row">
                        <div class="col col-lg-8">
                            {{item.quantity}} X {{item.title}}
                        </div>
                        <div class="col-md-auto">
                        </div>
                        <div class="col col-lg-3">
                            {{item.totalPrice | currency: 'USD': true}}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row font-weight-bold">
                        <div class="col col-lg-8">
                           Total
                        </div>
                        <div class="col-md-auto">
                        </div>
                        <div class="col col-lg-3">
                            {{cart.totalPrice | currency: 'USD': true}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</ng-container>