<div class="container">
    <table role="grid" #table class="p-datatable-wrapper">
        <!-- <ng-container *ngTemplateOutlet="colGroupTemplate; context {$implicit: columns}"></ng-container> -->
        <thead class="p-datatable-thead">
            <ng-container *ngTemplateOutlet="headerTemplate; context: {$implicit: columns}"></ng-container>
        </thead>
         <tbody class="p-datatable-tbody" [xTableContent]="columns" [xTableContentTemplate]="bodyTemplate"></tbody>
        <!--<tfoot *ngIf="footerTemplate" class="p-datatable-tfoot">
            <ng-container *ngTemplateOutlet="footerTemplate; context {$implicit: columns}"></ng-container>
        </tfoot> -->
    </table>
</div>