<div class="row">
  <div class="col-10" *ngIf="order$ | async as orders else emptyCart">
    <h1>Orders Received</h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Order Id</th>
          <th scope="col" class="text-center w-25">City</th>
          <th scope="col" class="text-right w-25">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.data.dateCreated | date}}</td>
          <td>{{order.key}}</td>
          <td>{{order.data.shipping.city}}</td>
          <td><button class="btn btn-link">View</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <ng-template #emptyCart>
    <div class="col text-center">Cart is empty.</div>
  </ng-template>
</div>