<div class="row">
    <div class="col-3">
        <app-product-filter [activeCategory]="activeCategory"></app-product-filter>
    </div>
    <div class="col-9">
        <div class="row" *ngIf="(cart$ | async) as cart">
            <ng-container *ngFor="let product of filteredProducts; let i = index">
                <div class="col-5 card" style="width: 10rem;">
                    <app-product-card [product]="product" [showAction]="'false'" [cart]="cart"></app-product-card>
                </div>
                <div class="w-100" *ngIf="(i+1)%2 === 0"></div>
            </ng-container>
        </div>
    </div>